.card {
  border: 1px dashed var(--green-opacity);
  padding: 20px;
  margin: 20px 0px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card p {
  color: black;
}

.card:hover {
  color: var(--orange);
}

.post-header {
  max-width: 750px;
}

.view-more {
  margin-top: 20px;
}

@media (min-width: 600px) {
  .blogs-container {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 800px) {
  .blogs-container {
    display: flex;
    flex-direction: column;
  }

  .card {
    display: flex;

    flex-direction: row-reverse;
  }
}
