.card {
  border: 1px dashed var(--green-opacity);
  padding: 20px;
  margin: 20px;
  cursor: pointer;
}

.card p {
  color: black;
}

.card:hover {
  color: var(--orange);
}

.post-header {
  max-width: 750px;
}
