form {
  padding: 10px;
  margin: 0px 20px;
  display: flex;
  flex-direction: column;
}

label {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  text-align: left;
}

input,
textarea {
  min-width: 250px;
  padding: 10px;
  margin-top: 20px;
  border: 1px solid black;
}

textarea {
  min-height: 150px;
}

input:focus,
textarea:focus {
  outline: 1px solid black;
  box-shadow: 1px 1px 8px 1px black;
}

textarea {
  display: flex;
}

input,
textarea,
::placeholder {
  font-family: var(--font);
}

@media (min-width: 800px) {
  input,
  textarea {
    min-width: 400px;
  }
}
