i {
  color: var(--orange);
  transition: 0.3s ease;
}

i:hover {
  color: var(--green);
}

i.fa-bars {
  margin: 5px;
  padding-right: 5px;
}

.fa-facebook-square,
.fa-instagram {
  padding: 0px 5px;
}
