* {
  box-sizing: border-box;
}

main {
  min-height: 100vh;
  background-color: var(--beige);
  margin: 0px;
}

header {
  display: flex;
  position: fixed;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  width: 100%;
  flex: 1;
}

.nav-menu {
  position: fixed;
  background-color: var(--beige);
  right: -100%;
  top: 100px;
  z-index: 1000;
  transition: 0.5s;
}

.nav-menu.active {
  right: 0;
}

li {
  display: block;
}

nav li {
  padding: 15px 20px;
}

ul {
  padding: 0px;
}

/*Text*/
body {
  margin: 0;
  font-family: var(--font);
}

h1,
a {
  color: var(--orange);
}

h1 {
  font-size: 1.6em;
  text-transform: uppercase;
}

h2,
h3,
footer p {
  color: var(--green);
}

a {
  text-decoration: none;
}

nav a {
  color: var(--orange);
  font-size: 1em;
  text-transform: uppercase;
  font-weight: bold;
  transition: 0.7s ease;
}

nav a:hover,
footer a:hover {
  font-size: 1.1em;
}

nav a:hover,
nav a:focus,
.active {
  color: var(--green);
}

nav a:focus .logo a {
  margin: none;
}

header,
footer {
  background-color: var(--beige);
  color: white;
}

footer p {
  margin: 0px;
}

footer a:hover {
  color: var(--orange);
}

.some-text p {
  text-transform: uppercase;
  font-weight: bold;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 0px 30px 0px;
}

.some-wrapper {
  padding: 10px 0px;
}

/*General containers*/
.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 20px;
}

.content-wrapper__main {
  padding: 100px 20px 20px 20px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 30px;
  max-width: 690px;
  margin-top: 20px;
}

.container-slider {
  max-width: 1000px;
  padding: 10px;
}

.content-width {
  max-width: 700px;
}

.content-width-m {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-width-m h1 {
  margin-bottom: 0px;
}

.content-width-m h1,
.content-width-m p {
  max-width: 560px;
}

@media (min-width: 600px) {
  nav a,
  footer a {
    font-size: 1.2em;
  }

  nav a:hover,
  footer a:hover {
    font-size: 1.3em;
  }
}

@media (min-width: 800px) {
  .hamburger {
    display: none;
  }

  header {
    justify-content: center;
    flex-direction: row;
    align-items: center;
  }
  header label {
    display: none;
  }

  .nav-menu {
    display: block;
    position: static;
    top: 0px;
  }

  nav li {
    display: inline-block;
    padding: 5px 10px;
  }

  nav ul {
    padding-left: 3px;
    margin-top: 1px;
    margin-bottom: 1px;
  }

  nav a {
    font-size: 1.2em;
  }

  .content-width-s {
    max-width: 400px;
  }
}
