* {
  box-sizing: border-box;
}

img {
  width: 100%;
  margin: 0;
}

main {
  min-height: 100vh;
  background-color: var(--beige);
  margin: 0px;
}

body {
  margin: 0;
}

header {
  display: flex;
  position: fixed;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 110px;
  width: 100%;
  flex: 1;
}

.nav-menu {
  position: fixed;
  background-color: var(--beige);
  right: -100%;
  top: 93px;
  z-index: 1000;
  transition: 0.5s;
}

.nav-menu.active {
  right: 0;
}

nav li {
  display: block;
  padding: 15px 20px;
}

nav ul {
  padding: 0px;
}

.hamburger {
  display: block;
  cursor: pointer;
  border: none;
  background: var(--beige);
}

.hamburger-icon {
  transition: 0.1s ease-in-out;
}

/*General*/
.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 30px;
  max-width: 690px;
}

.content-width {
  max-width: 700px;
}

header,
footer {
  background-color: var(--beige);
  color: white;
}

footer {
  display: flex;
  justify-content: center;
  padding: 5px 0px;
}

@media (min-width: 800px) {
  .hamburger {
    display: none;
    cursor: pointer;
  }

  header {
    justify-content: center;
    flex-direction: row;
    align-items: center;
  }
  header label {
    display: none;
  }

  .nav-menu {
    display: block;
    position: static;
    top: 0px;
  }

  nav li {
    display: inline-block;
    padding: 5px 10px;
  }

  nav ul {
    padding-left: 3px;
    margin-top: 1px;
    margin-bottom: 1px;
  }

  nav a {
    font-size: 1.2em;
  }

  .content-width-s {
    max-width: 400px;
  }
}
