.cta {
  background: var(--green);
  color: white;
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
  width: 100%;
  max-width: 250px;
  padding: 10px 40px;
  box-sizing: border-box;
}

.cta:hover {
  background-color: white;
  color: var(--green);
  border: 2px solid var(--green);
}

.cta:focus {
  outline: 1px solid black;
  box-shadow: 1px 1px 8px 1px black;
}

.cta-wrapper {
  display: flex;
  justify-content: center;
  margin: 20px;
}

/* Message  */
.error {
  display: none;
  color: darkred;
  font-size: 0.8em;
  margin-top: 10px;
  text-align: left;
}

.success-message {
  color: var(--green);
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*Loader*/
.loader {
  align-items: center;
  border: 10px solid var(--orange);
  border-top: 10px solid var(--green);
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;
  margin-top: 20px;
}

.results-loader {
  grid-column-start: 2;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
