/*Buttons*/

button {
  display: block;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.cta {
  background: var(--green);
  color: white;
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
  width: 100%;
  max-width: 250px;
  padding: 10px 40px;
  box-sizing: border-box;
  border: 2px solid var(--green);
}

.cta:hover,
.cta:focus {
  background-color: white;
  color: var(--green);
  border: 2px solid var(--green);
  transition: 0.3s ease;
}

.cta:focus {
  outline: 1px solid var(--green);
  box-shadow: 1px 1px 8px 1px var(--green);
}

.cta-wrapper {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.close-button-wrapper {
  padding: 5px;
  position: absolute;
  right: 5px;
  top: 5px;
}

/*Icons*/
i {
  color: var(--green);
  transition: 0.3s ease;
  font-size: 2em;
}

i:hover,
#close-button i:hover {
  color: var(--orange);
  transform: scale(1.1);
}

.fa-bars {
  color: var(--orange);
  margin: 5px;
  padding: 5px 0px;
}

.fa-bars:hover {
  color: var(--green);
}

.fa-facebook-square,
.fa-instagram {
  padding: 0px 5px;
}

#close-button i {
  color: white;
}

/* Message  */
.error {
  display: none;
  color: darkred;
  font-size: 0.8em;
  margin-top: 10px;
  text-align: left;
}

.success-message {
  color: var(--green);
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*Loader*/
.loader {
  align-items: center;
  border: 10px solid var(--green-opacity);
  border-top: 10px solid var(--green);
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 4s linear infinite;
  margin-top: 20px;
}

.results-loader {
  grid-column-start: 2;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
